    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>As a native San Franciscan turned New Yorker, I love to create meaningful and inspiring web applications.</p>
                <p>I am a full stack developer that enjoys working in Ruby on Rails and JavaScript, with a passion for continuously learning new languages.  Strong communication and a collaborative environment is where I thrive.  The exciting changes being made in the tech industry keep me motivated on a daily basis.</p>
                <p>In addition to coding, I love to visit musuems, practice yoga, and explore different parks in New York City.</p>
            </div>
        </div>
    </section>