    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Rizki Syahputra</h2>
                <p>saya adalah mahasiswa sistem informasi angkatan 2014 di UIN SUSKA Riau Indonesia dengan NIM 11453101856</p>
                <p>IAIN Sultan Syarif Qasim (IAIN Suska) mendirikan Jurusan Sistem Informasi pada tahun ajaran 2002/2003 sejalan dengan rencana untuk meningkatkan status IAIN menjadi Universitas Islam Negeri (UIN) Riau, yang saat ini telah terlaksana. Hal ini didukung oleh Pemerintah Daerah Provinsi Riau, DPRD Riau dan masyarakat, dimana sarjana jurusan teknik sangat dibutuhkan oleh pasar kerja pada masa yang akan datang, terutama menyambut era otonomi daerah. Jurusan yang strategis ini juga akan menopang Fakultas Sains dan Teknologi dan pengembangan studi Islam pada millenium ketiga. IAIN Susqa Pekanbaru (saat ini telah berubah menjadi UIN Suska Riau) sebagai salah satu institusi pendidikan Islam negeri di Riau mencermati dan berupaya menjawab tantangan ini dengan mendirikan Jurusan Sistem Informasi.</p>
                <p>mau tau lebih mengenai jurusan saya ini? lihat di <a href="https://sif.uin-suska.ac.id">WEBSITE SISTEM INFORMASI UIN SUSKA Riau</a></p>
                
            </div>
        </div>
    </section>
