    <!-- Careers Section -->
    <section id="careers" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Careers</h2>
                <p style="text-align: left">
                Fixing healthcare is not for the faint of heart. Pebble Health is looking for bold,
                ambitious partners who are ready to roll up their sleeves and join us on this
                challenging and meaningful journey. Our founding team is experienced at building
                and scaling successful companies in highly regulated domains and has funding in
                place to reach key milestones.
                </p>

                <p style="text-align: left">
                Here are our <a href="https://angel.co/company/pebble-health/jobs">current job openings</a>.
                We are always looking to hire smart people, so even if you do not
                see an applicable position on that page please drop us an email at
                <a href="mailto:{{site.careers_email}}>">{{site.careers_email}}</a>.
                </p>
            </div>
        </div>
    </section>
