    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Staking</h2>
                    <p>LionStake is a professional staking service where validators are maintained by a whole team of blockchain enthusiasts. We keep our validators secure and stable 24/7.</p>
                    <!-- <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a> -->
                </div>
            </div>
        </div>
    </section>