    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Melihat Apa?</h2>
                    <p>Kamu bisa lihat dimana saya belajar website yakni dimana saya berkampus.saya berkampus di UIN SUSKA Riau,Indonesia.</p>
                    <a href="http://www.uin-suska.ac.id" class="btn btn-default btn-lg">Kunjungi Website UIN SUSKA</a>
                </div>
            </div>
        </div>
    </section>
