    <!-- Download Section -->
    <section id="content" class="content-section text-center">
        <div class="content-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Content</h2>
                    <p>Blah blah.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>