<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <!-- This somehow doesn't work!  Leads to weird formatting issues in the website -->
<!--     <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/grayscale.css" | prepend: site.baseurl }}"> -->

	{% if layout.common-css %}
	    {% for css in layout.common-css %}
	    	<link rel="stylesheet" href="{{ css | prepend: site.baseurl | replace: '//', '/' }}" />
	    {% endfor %}
	{% endif %}

	{% if layout.common-ext-css %}
	    {% for css in layout.common-ext-css %}
	        {% include ext-css.html css=css %}
	    {% endfor %}
	{% endif %}

  	{% if layout.common-googlefonts %}
    	{% for font in layout.common-googlefonts %}
     		 <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}" type="text/css">
    	{% endfor %}
  	{% endif %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>