<div class="ourtext">
<h2 id="howdowemakethenetwork">How do we make the network?</h2>

<p>The cornerstone of our analysis are the 3000 most rated books with the highest average rating on GoodReads. It is the largest website where people rate and review books. </p>

<p>We took these books and created a connection whenever the same person rates both of the books. As the result we've got a graph where books are the nodes and edges carry the number of people who rated both of the books.
This way, we've created network of <strong>Fans</strong> and network of <strong>Haters</strong>. </p>

<p>Fans are the users who liked the books and rated them 4 or 5 stars. Haters disliked the books and gave them rating 3 or 4 stars. </p>

<h2 id="whatwewanttolearn">What we want to learn?</h2>

<ul>
<li>Why people like the popular books? </li>

<li>What are the communities within the network - what are the groups of books read by the same people?</li>

<li>What are the unpopular opinions about such well recieved books? </li>

<li>Why there is still a considerable number of people who dislike them?</li>
</ul>

<h2 id="recommendations">Recommendations</h2>

<p>And finally we will create couple of recommendations based on the communities we discovered. We will find the most central books and recomend you some interesting titles which you shouldn't miss out. But that's not all. We will also pick most controversial books and advise what titiles to avoid, if you don't like them.</p>
</div>
