 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/staticmap?center=0.487614,101.516692&zoom=16&size=1366x408&maptype=roadmap&markers=color:blue|label:R|0.489766,%20101.517398&markers=color:green|label:I|0.489477, 101.517612&markers=color:red|label:Z|0.488823, 101.517473&markers=color:gray|label:K|0.488211, 101.517291&markers=color:black|label:I|0.487696, 101.516926&key=AIzaSyD1Lrd7xaJTe1IWyF7jvnHoEPzfeZRWzYQ"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/grayscale.js" | prepend: site.baseurl }}"></script>
