 <!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="{%if page.title != 'Chenchong Charles Zhu' %}{{ site.url }}{% else %}{{ "#page-top" }}{% endif %}">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                {% for link in site.navbar-links %}
                    {% if page.title != 'Chenchong Charles Zhu' %}
                      {% capture linkurl %}{{ site.baseurl }}/{{ link[1] }}{% endcapture %}
                    {% else %}
                      {% capture linkurl %}{{ link[1] }}{% endcapture %}
                    {% endif %}
                    <li>
                        <a class="page-scroll" {% if link[0] == 'Blog' %}style="color:{{ site.color.navbar-blog }}"{% endif %} href="{{ linkurl }}">{{ link[0] }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
