<div class="ourtext">
<h1 id="thenetwork">The Network</h1>

<b>FANS: Top 10 most connected books</b>  
<table class="table table-bordered table-hover table-condensed">
<thead><tr><th title="Field #1">Book</th>
<th title="Field #2">Connections</th>
</tr></thead>
<tbody><tr>
<td>Hatchet by Gary Paulsen</td>
<td align="right"> 3640</td>
</tr>
<tr>
<td> Anna Karenina by Leo Tolstoy</td>
<td align="right"> 3604</td>
</tr>
<tr>
<td> The Hitchhikers Guide to Lean: Lessons from the Road by Jamie Flinchbaugh</td>
<td align="right"> 3584</td>
</tr>
<tr>
<td> Harry Potter Collection (Harry Potter #1-6) by J.K. Rowling</td>
<td align="right"> 3574</td>
</tr>
<tr>
<td> The Lord of the Rings: Weapons and Warfare by Chris   Smith</td>
<td align="right"> 3551</td>
</tr>
<tr>
<td> Pandering by Heidi Fleiss</td>
<td align="right"> 3503</td>
</tr>
<tr>
<td> The War by Marguerite Duras</td>
<td align="right"> 3501</td>
</tr>
<tr>
<td> The Hitchhikers Guide to the Galaxy: Quintessential Phase by Douglas Adams</td>
<td align="right"> 3467</td>
</tr>
<tr>
<td> Seven-Year Seduction by Heidi Betts</td>
<td align="right"> 3450</td>
</tr>
<tr>  

<h1 id="thedataweused">The data we used</h1>

<p>We used a subset of Goodbooks-10k from Github, which contains most rated books, their user ratings and all the tags users give them. However we wanted even more information so we can delve into text analysis. Therefore we wrote a python script to download and extract book descriptions and reviews directly from Goodreads.
In total it is around X MB of data. You can download <a href="https://github.com/zygmuntz/goodbooks-10k">Goodbooks-10k</a> and <a href="">CSV</a> with book descriptions and reviews to try to play with the data. If you want to see more details about how we processed and analysed our data, you can find those in the <a href="">Explainer notebook</a>. </p>
</div>
