<div class="ourtext">
<h1 id="thenetwork">The Network</h1>

<h3>FANS: Top 5 most connected books</h3>  
<table class="table table-bordered table-hover table-condensed">
<thead><tr><th>#</th><th title="Field #1">Book</th>
<th title="Field #2">Connections</th>
</tr></thead>
<tbody><tr>
<td>1</td>
<td>Hatchet by Gary Paulsen</td>
<td align="right"> 3640</td>
</tr>
<tr>
<td>2</td>
<td> Anna Karenina by Leo Tolstoy</td>
<td align="right"> 3604</td>
</tr>
<tr>
<td>3</td>
<td> The Hitchhikers Guide to Lean: Lessons from the Road by Jamie Flinchbaugh</td>
<td align="right"> 3584</td>
</tr>
<tr>
<td>4</td>
<td> Harry Potter Collection (Harry Potter #1-6) by J.K. Rowling</td>
<td align="right"> 3574</td>
</tr>
<tr>
<td>5</td>
<td> The Lord of the Rings: Weapons and Warfare by Chris   Smith</td>
<td align="right"> 3551</td>
</tr>
</tbody></table>
  
<h3>HATERS: Top 5 most connected books</h3>   
<table class="table table-bordered table-hover table-condensed">
<thead><tr><th>#</th><th title="Field #1">Book</th>
<th title="Field #2">Connections</th>
</tr></thead>
<tbody><tr>
<td>1</td>
<td> Kindred Spirit: A Biography of L. M. Montgomery Creator of Anne of Green Gables by Catherine M. Andronik</td>
<td align="right"> 142</td>
</tr>
<tr>
<td>2</td>
<td> The Untouchable by John Banville</td>
<td align="right"> 131</td>
</tr>
<tr>
<td>3</td>
<td> Date or Soul Mate?: How to Know if Someone is Worth Pursuing in Two Dates or Less by Neil Clark Warren</td>
<td align="right"> 121</td>
</tr>
<tr>
<td>4</td>
<td> Mel Bays Guitar Chords by Mel Bay</td>
<td align="right"> 120</td>
</tr>
<tr>
<td>5</td>
<td> The Canterbury Tales by Geoffrey Chaucer</td>
<td align="right"> 117</td>
</tr>
</tbody></table>
  

<h1 id="thedataweused">The data we used</h1>

<p>We used a subset of Goodbooks-10k from Github, which contains most rated books, their user ratings and all the tags users give them. However we wanted even more information so we can delve into text analysis. Therefore we wrote a python script to download and extract book descriptions and reviews directly from Goodreads.
In total it is around X MB of data. You can download <a href="https://github.com/zygmuntz/goodbooks-10k">Goodbooks-10k</a> and <a href="">CSV</a> with book descriptions and reviews to try to play with the data. If you want to see more details about how we processed and analysed our data, you can find those in the <a href="">Explainer notebook</a>. </p>
</div>
