<div class="ourtext">
<h1 id="thenetwork">The Network</h1>

<p>//todo</p>

<h1 id="thedataweused">The data we used</h1>

<p>We used a subset of Goodbooks-10k from Github, which contains most rated books, their user ratings and all the tags users give them. However we wanted even more information so we can delve into text analysis. Therefore we wrote a python script to download and extract book descriptions and reviews directly from Goodreads.
In total it is around X MB of data. You can download <a href="https://github.com/zygmuntz/goodbooks-10k">Goodbooks-10k</a> and <a href="">CSV</a> with book descriptions and reviews to try to play with the data. If you want to see more details about how we processed and analysed our data, you can find those in the <a href="">Explainer notebook</a>. </p>
</div>
